*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
header{
    width: 100%;
    height: 100vh;
    color: white;
    overflow: hidden;
    position: relative;
}
header .img img{
    position: absolute;
    height: 100vh;
    object-fit: cover;
}
header nav{
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    width: 80%;
    top: 15px;
    left: 50%;
    transform: translate(-50%,0%);
}
header .logo{
    display: flex;
    justify-content: center;
}
header .logo img{
    width: 55px;
}
header .logo h2{
    font-size: 30px;
    margin-top: auto; 
    margin-bottom: auto;
    font-weight: bolder;
    font-family: 'Righteous', cursive;
} 
header .menu{
    display: flex;
    align-items: center;
}
header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}
header ul li{
    margin:  auto 0;
    padding: 0 10px;
    display: inline-block;
}
header ul li a{
    color: white;
    text-decoration: none;
    padding: 15px 5px;
    font-size: 22px;
    position: relative;
}
header .close-icon{
    display: none;
}
header .icon-open-nav {
    display :  none;
}

header .container{
    position: absolute;
    z-index: 100;
    top: 30%;
    right: 7%;
    padding: 35px;
    background-color: rgba(21, 21, 21, 0.384);
}
header .container h2{
    font-size: 300%;
    padding: 25px 0 ;
    font-weight: 1000;
}
header .container p{
    font-size: 22px;
    padding-top: 30px;
    padding-bottom: 50px;
    font-family: 'Righteous', cursive;
    font-family: 'Satisfy', cursive;
}
header .container .btn-flip{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
header .hover-img .item-caffee{
    position: absolute;
    width: 50%;
    left: 3%;
    bottom: 8%;
    z-index: 10;
}
header .hover-img .item-cola{
    position: absolute;
    width: 12%;
    top: 25%;
    left: 20%;
    z-index: 20;
}
header figure {
	width: 300px;
	height: 200px;
	margin: 0;
	padding: 0;
	background: #fff;
}
header figure:hover{
	bottom: -36px;
	opacity: 1;
}

/* Zoom  */
header .hover-img figure .item-cola {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
header .hover-img figure:hover .item-cola {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

/*hover nav*/
header nav ul a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #ff0000;
    bottom: 0;
    left: 0;
    transform-origin: left;
    transform: scaleX(0);
    color: #1881b9;
    transition: transform .3s ease-in-out;
}
header nav ul a:hover{
    color: #ff0000;
}
header nav ul a:hover::before{
    transform-origin: left;
    transform: scaleX(1);
}

/* hover bottum */
header .container .btn-flip{
    opacity: 1;
    outline: 0;
    color: #fff;
    line-height: 40px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Open Sans';
    text-transform: uppercase;
}
header .container .btn-flip:hover::after{
    opacity: 1;
    transform: translateY(0) rotateX(0);
}
header .container .btn-flip:hover::before{
    opacity: 0;
    transform: translateY(50%) rotateX(90deg);
}
header .container .btn-flip::after{
    top: 0px;
    height: 100%;
    left: 0;
    opacity: 0;
    line-height: 40px;
    width: 100%;
    color: #ffffff;
    display: block;
    transition: 0.5s;
    position: absolute;
    background: #005de8;
    content: attr(data-back) ;
    transform: translateY(-50%) rotateX(90deg);
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
header .container .btn-flip::before{
    top: 0;
    left: 0;
    opacity: 1;
    color: #ffffff;
    display: block;
    padding: 0 30px;
    line-height: 40px;
    transition: 0.5S;
    position: relative;
    background: red;
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/* first-section */
.first-section{
    /* position: relative; */
    width: 100%;
    background-image:  url(../imgs/background-first-section.png);
    /* background-size:contain; */
}
.first-section__background img{
    width: 100%;
}
.first-section__container{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 35px;
}
.first-section__container__title{
    padding: 35px 0 ;
    color: white;
    text-align: center;
    font-size: 38px;
    font-weight: 900;
}
.first-section__container__items{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    
}
.first-section__container__items img{
    width: 100%;
}
.first-section__container__items__first-item{
    grid-row: 1/3;
}


@media only screen and (max-width: 900px) {
    header{
        height: 600px;
    }
    header #block-nav__content{
        display: block ;
    }
    header nav{
        width: 100%;
        padding: 0 50px;
    }
    header .block-nav__content{
        display: block;
    }
    header .hover-img .item-caffee{
        display: none;
    }
    header .hover-img .item-cola{
        display: none;
    }
    header .container{
        position: absolute;
        z-index: 100;
        top: 15%;
        left: 0;
        width: 100%;
    }
    header .container h2{
        font-size: 300%;
        padding: 5px 0 ;
        font-weight: 1000;
    }
    
    .first-section__container{
        width: 90%;
    }
    .first-section__container__items{
        grid-template-columns: auto auto;
    }
    .first-section__container__items img{
        width: 100%;
    }
    .first-section__container__items__first-item{
        grid-row: 1/3;
    }
}

@media only screen and (max-width: 600px) {

    header .container{
        top: 20%;
    }
    header .container h2{
        font-size: 200%;
        padding: 5px 0 ;
        font-weight: 1000;
    }
    
    .first-section__container__items{
        grid-template-columns: auto;
    }
    .first-section__container__items__first-item{
        grid-row: 1/2;
    }
    header nav{
        position: fixed;
        display:block;
        width: 100%;
        left: 0;
        top: 0;
        transform: translate(0);
        padding: 0;
    }
    header .logo{
        display: flex;
        justify-content: left;
        padding: 15px;
        position: relative;
        width: 100%;
    }
    header .logo img{
        width: 55px;
    }
    header .icon-open-nav{
        display :  block ;
        position: absolute;
        top: 20px;
        right: 10%;
        font-size: 30px;
    }

    header .close-icon{
        display: block;
    }
    header #block-nav__content{
        display: none;
    }
    
    
    header ul {
        display: block;
        position: fixed;
        text-align: center;
        background-color: #050967;
        height: 100vh;
        width: 100%;
        z-index: 2000;
        top: 0;
        padding-top: 50px;
    }
    header .close-icon{
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 50px;
    }
    header ul li{
        display: block;
        width: 100%;
        line-height: 30px;
        padding: 20px 0;
    }
    header .container{
        z-index: 1;
    }

}
